# General App Config
FLASK_APP=manage.py
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=dev_secret_key_change_me
PORT=5000

# Database Config
DATABASE_URL=mysql+mysqldb://root:rootpassword@db:3306/erapor_sd
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=erapor_sd
MYSQL_USER=
MYSQL_PASSWORD=
